@use "./abstracts" as *;

.section_4 {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  background-color: #A6A5A6;
  padding: 2em 0;

  @include desktop {
    padding: 5em 0;
  }

  .container {
    max-width: 95%;

    @include tablet {
      width: 800px;
    }

    @include desktop {
      width: 1200px;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;

      @include desktop {
        margin-bottom: 5em;
      }

      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);

        @include desktop {
          font-size: 2.3rem;
        }
      }
    }

    .grid {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 2em;

      @include mini-ipad {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .card {
        border-radius: 12px;
        overflow: hidden;
        background-color: #fff;
        width: 100%;

        @include mini-ipad {
          width: 31.333%;
        }

        .card_body {
          padding: 1em;
        }
      }
    }
  }
}