@use "./abstracts" as *;

.section_2 {
  margin-top: 5em;
  display: flex;
  justify-content: center;

  .container {
    max-width: 95%;

    @include tablet {
      width: 800px;
    }

    @include desktop {
      width: 1200px;
    }

    .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.8);

        @include desktop {
          font-size: 2.3rem;
        }
      }

      p {
        font-size: .8rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);

        @include desktop {
          font-size: 1rem;
        }
      }
    }

    .row {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      @include mini-ipad {
        flex-direction: row;
      }

      .image_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 1em;
        overflow: hidden;
        width: 100%;

        @include mini-ipad {
          width: 50%;
        }

        .image_1 {
          width: 100%;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include mini-ipad {
            height: 270px;
          }

          @include desktop {
            height: 450px;
          }
        }
      }

      .text_section {
        @include mini-ipad {
          width: 50%;
        }

        .text_section_head {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-size: 1.2rem;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.8);
          }

          p {
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 700;
            margin-top: .3em;
          }
        }

        p {
          font-size: .8rem;
          margin: .1em 0 1em 0;
        }

        button {
          background-color: black;
          height: 40px;
          padding: 0 1em;
          border-radius: 12px;
          color: #fff;
          font-size: .9rem;
        }
      }
    }
  }
}